$terrainColors: (
  "red": #D66A3D,
  "blue": #53A9BA,
  "green": #8FB368,
  "brown": #85643F,
  "black": #353530,
  "yellow": #D2AD3E,
  "grey": #787C74
);

:host {
  display: block;
  padding: 1em;
  margin: .5em;
  min-width: 200px;
  min-height: 200px;
  position: relative;
  font-size: 1.1em;
  font-family: 'Josefin Sans', sans-serif;

  perspective: 600px;

  @media screen and (max-width: 760px) {
    min-height: 100px;
  }
}

.icon {
  width: 140px;
  margin-bottom: 7px;

  @media screen and (max-width: 760px) {
    width: 70px;
  }
}

.item {
  opacity: 0;
  transform: rotateY(90deg) scale(0.5);


  &.show {
    opacity: 1;
    transform: none;
  }
}

@for $i from 0 through 4 {
  .item-#{$i} {
    transition:
      transform 0.5s cubic-bezier(.36,-0.64,.34,1.76) $i * 200ms,
      opacity 0.5s cubic-bezier(.36,-0.64,.34,1.76) $i * 200ms,
      background-color 0.4s ease-in;
  }
}

@each $colorName, $colorValue in $terrainColors {
  .terrain-#{$colorName} {
    background-image: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.0));
    background-color: $colorValue;

    @if (lightness($colorValue) < 50) {
      color: #DEDEDE;
    } @else {
      color: #333;
    }
  }
}

paper-shadow {
  position: relative;
}

.hidden {
  background-color: #DEDEDE;
}

.faction {
  width: 100%;
  transform-style: preserve-3d;
  opacity: 1;
  transform: none;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in 0.1s;
}

.touch-cursor {
  position: absolute;
  color: #333333;
  text-align: center;

  opacity: 0;
  text-transform: uppercase;
}

.hidden > .faction {
  transform: rotateY(-180deg);
  opacity: 0;
}
.hidden > .touch-cursor {
  opacity: 1;
}
